<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Active Lecture</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
<div lang="en" th:replace="shared/fragment/dashboard :: dashboard"> </div>
<div id="page-wrapper">
	<div class="container-fluid">
        <h1 th:text="${lectureDto.title} + ': Mood'">title</h1>                                      
        <div class="col-sm-offset-4 col-sm-4 well" id="content">
			<div class="chart-container">
			    <canvas id="moodPieChart"></canvas>
			</div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/resources/javascript/MoodChart.js"></script>
<script th:inline="javascript">
	setGetUrl(window.location.href + "/json");
	
	var map = /*[[${moodMap}]]*/ 'map';
	setMoods(map);
</script>
</html>