<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Active Lecture</title>
<meta http-equiv="refresh" content="5" />
<link rel="stylesheet" type="text/css" media="all"
      href="../../resources/css/styles.css" th:href="@{/resources/css/styles.css}"/>
</head>
<body>
	<h1 th:text="${lectureDto.title} + ': Mood'">title</h1>
	<div id="leftMenu">
	    <form method="get">
	      <div class="button">
	    	  <input type="submit" value="Comments" />
	      </div>
	    </form>  
	    <form method="get">
	      <div class="button">
	    	  <input type="submit" value="Questions" />
	      </div>
	    </form>    
	    <form method="get">
	      <div class="button">
	    	  <input type="submit" value="Mood" />
	      </div>
	    </form>
    </div>
    
    <div id="rightPanel">
    	<table>
	    	<tr th:each="moodDto, stat : ${moodDtoList.moodDtoList}"> 
	    		<td th:text="${moodDto.getEmoji()}"></td>
	    	</tr> 
    	</table>
    </div>
</body>
</html>