<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lecture Creation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" media="all"
      href="../../resources/css/styles.css" th:href="@{/resources/css/styles.css}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
  <div class="container">
  <h1>Harmonia</h1>
  <h3>Create a Lecture</h3>
  <br />
  <form class="col-sm-offset-4 form-horizontal" method="post">
	<div class="form-group">
	    <label class="control-label col-sm-2" for="Title">Title:</label>
    	<div class="col-sm-4">
        	<input class="form-control" id="Title" placeholder="Enter title" name="title" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Password">Password:</label>
    	<div class="col-sm-4">
        	<input class="form-control" id="Password" placeholder="Enter password" name="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Date">Date:</label>
    	<div class="col-sm-4">
        	<input class="form-control" id="Date" placeholder="yyyy-mm-dd" name="lectureDate" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="StartTime">Start Time:</label>
    	<div class="col-sm-4">
        	<input class="form-control" id="StartTime" placeholder="hh:mm" name="lectureStartTime" />
        </div>
    </div>
    <div class="form-group">
    	<label class="control-label col-sm-2" for="EndTime">End Time:</label>
    	<div class="col-sm-4">
        	<input class="form-control" id="EndTime" placeholder="hh:mm" name="lectureEndTime" />
        </div>
    </div>
    <br />
    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-4">
    		<input type="submit" class="btn btn-default" value="Create" />
    	</div>
    </div>
  </form>
  </div>
</body>
</html>