<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Lecture</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
      href="../../resources/css/styles.css" th:href="@{/resources/css/styles.css}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
  	<div class="container">
  	<h1 th:text="'Lecture Details : ' + ${lectureDto.title}">title</h1>
  	<br />
  	<div class="col-sm-offset-4 form-horizontal" >
	    <div class="form-group">
	    	<label class="control-label col-sm-2" for="Title">Title:</label>
	    	<div class="col-sm-4">
	        	<input readonly="readonly" class="form-control" value="Title" th:value="${lectureDto.title}" name="title" />
	        </div>
	    </div>
	    <div class="form-group">
	        <label class="control-label col-sm-2" for="Password">Password:</label>
	    	<div class="col-sm-4">
	        	<input readonly="readonly" class="form-control" value="Password" th:value="${lectureDto.password}" name="password" />
	        </div>
	    </div>
	    <div class="form-group">
	        <label class="control-label col-sm-2" for="Date">Date:</label>
	    	<div class="col-sm-4">
	        	<input readonly="readonly" class="form-control" value="Date" th:value="${lectureDto.date}" name="date" />
	        </div>
	    </div>
	    <div class="form-group">
	        <label class="control-label col-sm-2" for="StartTime">Start Time:</label>
	    	<div class="col-sm-4">
	        	<input readonly="readonly" class="form-control" value="StartTime" th:value="${lectureDto.startTime}" name="startTime" />
	        </div>
	    </div> 
	    <div class="form-group">
	        <label class="control-label col-sm-2" for="EndTime">End Time:</label>
	    	<div class="col-sm-4">
	        	<input readonly="readonly" class="form-control" value="EndTime" th:value="${lectureDto.endTime}" name="endTime" />
	        </div>
	    </div> 
    </div>
  	</div>
</body>
</html>