<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Lecture</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
      href="../../resources/css/styles.css" th:href="@{/resources/css/styles.css}"/>
</head>
<body>
	<div id="leftMenu">
	    <form method="get">
	      <div class="button">
	    	  <input type="submit" value="Comments" />
	      </div>
	    </form>  
	    <form method="get">
	      <div class="button">
	    	  <input type="submit" value="Questions" />
	      </div>
	    </form>    
	    <form method="get">
	      <div class="button">
	    	  <input type="submit" value="Mood" />
	      </div>
	    </form>
    </div>
    
    <div id="rightPanel">
     	<textarea name = "content" rows = "50" cols = "150" > </textarea>
    </div>
</body>
</html>