<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Homepage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
      href="../../resources/css/styles.css" th:href="@{/resources/css/styles.css}"/>
</head>
<body>
  <form method="post">
    <div class="field">
        <input value="Username" />
    </div>
    <br />
    <div class="field">
        <input value="Password" />
    </div>
    <br />
    <div class="button">
    <input type="submit" value="Login" />
    </div>
  </form>
</body>
</html>