<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Active Lecture Questions</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<div lang="en" th:replace="shared/fragment/dashboard :: dashboard"> </div>
	<div class="container">
    <br />
	<form class="col-sm-offset-2 form-horizontal" method="post">
		<div class="form-group">
			<div class="col-sm-4">
			    <!-- <input id="featureToggleButton" type="submit" class="btn btn-default" name="questionsToggle" th:value="${lectureDto.questionsEnabled} ? 'Disable' : 'Enable' " /> -->
			</div>
		</div>
	</form>
    <h1 th:text="${lectureDto.title}">title</h1> 
    <form class="col-sm-offset-4" method="post">
		<div class="form-group">
			<div class="col-sm-6">
				<textarea class="form-control" rows="3" id="question" placeholder="Enter your question" name="question" />
			</div>
			<div class="col-sm-3">
	    		<input type="submit" class="btn btn-default" value="Ask" name="Ask" />
	    	</div>
		</div>
	</form>                                     
    <div class="col-sm-offset-1 col-sm-12 table-responsive" id="questions">
       <table class="table" id="questionsTable">
			<tr>
				<td th:each="questionDto, stat : ${questionDtoList.questionDtoList}">
					<div class="talk-bubble tri-right round btm-left">
					    <div class="bubbletext">
					    	<a href="#" th:text="${questionDto.getQuestion()}"></a>
						</div>
					</div>
				</td>
			</tr>      		
		</table>
	</div>
</div>
</body>
<script type="text/javascript" src="/resources/javascript/UpdateQuestions.js"></script>
<script th:inline="javascript">
	setGetQuestionsUrl(window.location.href + "/json");
</script>
</html>