<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Active Lecture Mood</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<div lang="en" th:replace="shared/fragment/dashboard :: dashboard"> </div>
	<div id="page-wrapper">
		<div class="container-fluid">
	        <h1 th:text="${lectureDto.title}">title</h1> 
	        <h3>Mood</h3>  
	    </div>
    
		<form class="col-sm-offset-5  form-horizontal"  method="post">
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-3">
					<input readonly="readonly" id="currentEmoji" name="currentEmoji" th:value="${currentEmoji}"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-3">
					<select class="form-control" id="Mood" name="mood">
						<option value="" selected="selected" disabled="disabled" hidden="hidden">Choose your mood</option>
						<option value="CONFUSED &#x1F615;">Confused &#x1F615;</option>
						<option value="ANXIOUS &#x1F630;">Anxious &#x1F630;</option>
						<option value="FRUSTRATED &#x1F623;">Frustrated &#x1F623;</option>
						<option value="CURIOUS &#x1F914;">Curious &#x1F914;</option>
						<option value="CONTEMPT &#x1F642;">Contempt &#x1F642;</option>
						<option value="EUREKA &#x1F929;">Eureka &#x1F929;</option>
					</select>
				</div>
				<div class="col-sm-3">
		    		<input type="submit" class="btn btn-default" value="Send" name="Mood" disabled="disabled" />
		    	</div>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript" src="/resources/javascript/CheckMoodEnabled.js"></script>
<script th:inline="javascript">
	$('#Mood').on('change', function() {
	     $('.btn').prop('disabled', false);
	});
	
	var lectureTitle = /*[[${lectureDto.title}]]*/ 'default';
	setGetLectureUrl(window.location.hostname + "/student/lecture/active/" + lectureTitle + "/json");
</script>
</html>