<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Join Lecture</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
      href="../../resources/css/styles.css" th:href="@{/resources/css/styles.css}"/>
</head>
<body>
  <form method="post">
    <div class="field">
    	<h1>Harmonia</h1>
    	<h2>Join a Lecture</h2>
    </div>
    <div class="field">
    	<label for="Password">Password</label>
        <input id="Password" name="password" />
    </div>
    <br />
    <div class="button">
    	<input type="submit" value="Join" />
    </div>
  </form>
</body>
</html>