<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Join Lecture</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
      href="../../resources/css/styles.css" th:href="@{/resources/css/styles.css}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>    
</head>
<body>
  <div class="container">
  <h1>Harmonia</h1>
  <h2>Join a Lecture</h2>
  <br />
  <form class="col-sm-offset-4 form-horizontal" method="post">
    <div class="form-group">
    	<label class="control-label col-sm-2" for="Password">Password:</label>
    	<div class="col-sm-4">
        	<input class="form-control" id="Password" placeholder="Enter password" name="password" />
        </div>
    </div>
    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-4">
    		<input type="submit" class="btn btn-default" value="Join" />
    	</div>
    </div>
  </form>
  </div>
</body>
</html>