<div th:fragment="dashboard">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" media="all"
      href="../../resources/css/styles.css" th:href="@{/resources/css/styles.css}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" >
                <h1>Harmonia</h1>
            </div>
        </div>
        <!-- Top Menu -->
        <ul th:if="${#httpServletRequest.requestURL.toString().contains('lecturer')}" class="nav navbar-right top-nav">          
            <li>
                <a href="end">End Lecture</a>
            </li>
        </ul>
        <!-- Sidebar Menu -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav side-nav">
                <li th:if="${#httpServletRequest.requestURL.toString().contains('lecturer')}">
                    <a href="feedback"> Feedback </a>
                </li>
                <li>
                    <a href="comments"> Comments </a>
                </li>
                <li>
                    <a href="#"> Questions </a>
                </li>
                <li>            
                    <a href="mood"> Mood </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</div>